<div class="container">
  <h3>Some things that other people involved in <%= @category.name.titleize %> felt shaky about:</h3>

  <ul>
  <% @category_posts.each do |post| %>
    <li>
      <%= post.inability %>, <%= post.months_experience %> months later.
    </li>
  <% end %>
  </ul>
  <%= link_to "View all Categories", categories_path %></br>
  <%= link_to "View all Posts", posts_path %>
</div>
