<h1>What is Impostor Roster?</h1>
<p>This is a place where people can anonymously vent about that one facet (or tons!) of their field that always seems to stump them. <%= link_to "Impostor Syndrome", "http://en.wikipedia.org/wiki/Impostor_syndrome" %> is prevalent in every area of work or leisue where people can be found attempting to excel.</p>
<p>I think the best cure is exposure:  after all, everyone one of us feels like an impostor sometimes, and that very fact should be enough to make us all realize how silly that is!</p>
<p>
  This site was one of the first stabs at web app development by <%= link_to "Vinney Cavallo ", "http://vinneycavallo.com", target: "_blank" %>. He started this site a few years ago but never really finished it - whatever that would mean.
  He is a 'professional' software developer now and quickly got it hosted in its tawdry state in order to capture an opportune moment in the current zeitgeist regarding people's feelings about impostordom and <%= link_to "job interviews", "https://twitter.com/dhh/status/834146806594433025", target: "_blank" %> in particular.
  It currently lacks many features that it would ideally have. Maybe now the aforementioned will get around to adding them.
  Some of those include:
</p>
<ul>
  <li>Pagination</li>
  <li>Form validation :)</li>
  <li>Converting total months into years + months</li>
  <li>Category auto-complete in form</li>
  <li>Search</li>
  <li>Deciding if each post should have it's own view page</li>
  <li>Non-bootstrap styling!</li>
  <li>tons of other things...</li>
</ul>
<p>Get in touch on <%= link_to "Twitter", "https://twitter.com/vinneycavallo", target: "_blank" %>, <%= mail_to "impostor@vinneycavallo.com", "email", subject: "Re: Impostor Roster" %>, or <%= link_to "Github", "https://github.com/vcavallo", target: "_blank" %>.
  <p>If you're <i>that</i> kind of person, this project happens to be open source and <%= link_to "hosted on GitHub", "https://github.com/vcavallo/impostor_roster/" %>. Feel free to contribute :)</p>
<p>Take me <%= link_to "back to all the Posts!", posts_path %>
