<div class="container">
  <h1>What is Impostor Roster?</h1>
  <p>This is a place where people can anonymously vent about that one facet (or tons!) of their field that always seems to stump them. <%= link_to "Impostor Syndrome", "http://en.wikipedia.org/wiki/Impostor_syndrome" %> is prevalent in every area of work or leisue where people can be found attempting to excel.</p>
  <p>I think the best cure is exposure:  after all, everyone one of us feels like an impostor sometimes, and that very fact should be enough to make us all realize how silly that is!</p>
  <p>This site was built in not-very-long by Vinney Cavallo (<%= link_to "@vinneycavallo", "https://twitter.com/vinneycavallo" %>). It currently lacks many features that it should have shortly. Some of those include:
  <ul>
    <li>Form validation :)</li>
    <li>Converting total months into years + months</li>
    <li>Category auto-complete in form</li>
    <li>Search</li>
    <li>Deciding if each post should have it's own view page</li>
    <li>Styling!</li>
    <li>tons of other things...</li>
  </ul>
    </p>
  <p>Get in touch on <%= link_to "Twitter", "https://twitter.com/vinneycavallo" %>, <%= mail_to "vcavallo@gmail.com", "email", subject: "Re: Impostor Roster" %>, or <%= link_to "Github", "https://github.com/vcavallo" %>.
  <p>Take me <%= link_to "back to all the Posts!", posts_path %>
</div>

