<div class="container">
<h1>Impostor Roster</h1>

<h3>Suffering from <%= link_to "Impostor Syndrome", "http://en.wikipedia.org/wiki/Impostor_syndrome" %>? <small>You're not alone...</small></h3>
<p>All the people posting below feel like impostors at times, too!</br>
So read these posts, <%= link_to "add one of your own", :new_post %> and get over it!</p>
  <ul>
  <% @posts.each do |post| %>
    <li>Someone in the <%= link_to "#{post.category.name.titleize}", category_path(post.category) %> field for <strong><%= post.months_experience %> months</strong> still can't do <%= post.inability %>.</li>
  <% end %>
  </ul>
  <%= link_to "View all Categories", categories_path %></br>
  </br>

  <p>Are you crappy at something in your line of work? <%= link_to "Join the party!", :new_post %></p>
  </br>

  <%= link_to "What is this?", :about %>
</div>
