<h1>Impostor Roster</h1>

<h2>Suffering from <%= link_to "Impostor Syndrome", "http://en.wikipedia.org/wiki/Impostor_syndrome", target: "_blank" %>? <small>You're not alone...</small></h2>

<p>All the people posting below feel like impostors at times, too!</p>
<p>So read these posts, <%= link_to "add one of your own", :new_post %> and get over it!</p>

<h3>All Posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li>Someone in the <strong><%= link_to "#{post.category.name.titleize}", category_path(post.category) %></strong> field for <strong><%= post.months_experience %> months</strong> still can't do <em><%= post.inability %></em>.</li>
  <% end %>
</ul>
<%= link_to "View all Categories", categories_path %></br>
</br>

<p>Are you crappy at something in your line of work? <%= link_to "Join the party!", :new_post %></p>
</br>

<%= link_to "What is this?", :about %>
