<div class="new-submission">
  <h2>We all feel like impostors sometimes.</h2>
  <h3>Help us feel better by contributing:</h3>

  <div>
    <%= form_for @post do |f| %>
      <div class="form-group">
        <%= f.label 'Field you are in:' %>
        <%= f.text_field :category, class: "form-control", placeholder: 'Your industry or topic for this confession', value: @post.category.try(:name) %>
      </div>

      <div class="form-group">
        <%= f.label 'Months of Experience' %>
        <%= f.text_field :months_experience, class: 'form-control', placeholder: '120' %>
      </div>

      <div class="form-group">
        <%= f.label_tag 'Confession:' %>
        <%= f.text_field :inability, class: "form-control", placeholder: 'Remember which \'their\' is correct' %>
        <span class="hint">I still can't...</span>
      </div>
      <div class="form-group">

        <%= label_tag 'post[goofy]', "This is a goofy post" %>
        <%= check_box_tag 'post[goofy]', true, false, class: "form-control" %>
        <p style="max-width: 400px;">Please check this box if your post is not a serious confession. We enjoy the comedic directions some users have taken, but we also want to keep the content useful to those truly interested.</p>
      </div>


      <% if Rails.env.staging? || Rails.env.production? %>
        <div class="form-group">
          <%= recaptcha_tags %>
        </div>
      <% end %>
      <h4>You should probably check your spelling above.</h4>
      <%= f.submit "Admit it!", class: "btn btn-primary" %>
    <% end %>
  </div>

  <nav>
    <%= link_to "Go Back", posts_path %>
  </nav>
</div>
