<div class="container">
  <h2>We all feel like impostors sometimes.</h2>
  <h3>Help us feel better by contributing:</h3>
  <%= form_tag '/posts' do %>
    <%= label_tag "Field you are in:" %>
    <%= text_field_tag 'post[category]', @field %>
    <%= label_tag "Months of Experience:" %>
    <%= text_field_tag 'post[months_experience]' %></br>
    <%= label_tag "Thing you are bad at:" %>
    <%= text_field_tag 'post[inability]' %></br>
    <%= button_tag "Admit it!" %>
  <% end %>
  <%= link_to "Go Back", posts_path %>
</div>
